body {
	background-image: url(http://img.phonandroid.com/2015/09/google-logo1.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 25%;
	background-size: 400px;
	font-family: "Arial";
	color: #2F2F2F;
	font-size: 13px;

}


.hautdroite {
	float: right;
	word-spacing: 20px;
}

	/* img.logo { 
	border: solid 2px;
	position: absolute;
	margin: auto;
	width: 10px; 
	} */

.barre {
	position: fixed;
	top: 315px;
	left: 650px;

}

/*

.bouton{
	position: fixed;
    background-color: #eeeeee ;
    margin: 1%;
    padding: 1%;
}

.bouton:hover,
.bouton:focus {
    transform: scale(1.2);
    box-shadow: 0 0 65px #eeeeee inset, 0 0 20px #000000 inset, 0 0 15px #eeeeee ;
}
*/
 
 
/*
 .bouton{
   background-color: #eeeeee;
   margin: 1%;
   padding: 1%;
}

.bouton_bis {
    text-align: center;
}
*/

 .bouton1 {
 	position: fixed;
 	top: 350px;
 	left: 630px;
 	border: solid 1px;
 	border-radius: 3px;
 	background-color: #F3F3F3;
 }

 .bouton2 {
 	position: fixed;
 	top: 350px;
 	left: 750px;
 	border: solid 1px;
 	border-radius: 3px;
 	background-color: #F3F3F3;
 }
 
 

 a {
 	color: #777777;
	text-decoration: none;
}


.bas {
	list-style-type: none;
	border-top: 100px #EEEEEE;
	margin-top: 10px black;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	height:5%;	
	width: 100%;
	background-color:  #b5b5b5;
} */

.basgauche {
	list-style-type: none;
	position: absolute;
	word-spacing: 20px;
	left: 200px;
    bottom: 2px;
}

.basdroite {
	/*word-spacing: 20px;
	float: right;*/
	list-style-type:none;
	margin: 0;
	padding: 0;
    margin-bottom:0px;
	word-spacing: 0px;
	right: 0;
	position: absolute;
    bottom: 0;
}
	
ul {
list-style:none;
margin-left:0;
padding-left:0;
}

li {
	display: inline;
margin-bottom:50x;/* à adapter */
}
